*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    padding: 10px 2%;
}
.logo{
    width: 100%;
    height: 350px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(/projeto-integrador-grupo-02/img/pets.jpg);
    display: block;
    border: 2px solid #bdbdbd;
    margin:auto;
}

form{
    display:block;
    padding: 10px auto;
    margin-top: 10px;
    text-align: center;
}
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}
input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    
  }
  input[type=submit] {
    width: 80%;
    background-color: #03A9F4;
    color: #fff;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
    
.container p{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}
.container a{
    color: red;
    font-weight: bold;
}
footer{
    margin-top: 10px;
}
footer div.novaConta{
    text-align: center;
}
footer p{
    font-size: 20px;
    color: #757575;
}
footer a{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: red;
}

/**Media Queries**/

@media(min-width:768px){
  
    .logo{
      display: none;
    }
    .logo-desktop{
        width: 50%;
        height: 300px;
        background-size: 100% 100%;
        background-image: url(/projeto-integrador-grupo-02/img/pets.jpg);
        display: inline-block;
        position:relative;
        left: 150px;
        border: 2px solid #bdbdbd;
        margin:auto;
    }
    section{
        padding: 20px 30px;
        
    }
    section .container{
        width: 50%;
        padding: 10px 2%;
        float: right;
        border: 2px solid #bdbdbd;
    }
    section .wrapper-img-desktop{
        width: 50%;
        padding: 0 2%;
        float: left;
        
    }
    .img-desktop{
        width: 100%;
        height: 625px;
        background-size: 100% 100%;
        background-image: url(/projeto-integrador-grupo-02/img/pets.jpg);
        background-position: center;
        display: inline-block;
        border: 2px solid #bdbdbd;
        margin:auto;
        
    }
   footer{
    padding: 10px 2%;
    border: 2px solid #bdbdbd;
   }

}