<header class="header">
  <nav class="nav">
    <a href="/manimal/inicial/<%=searchProfile.id%>">
    <div class="nav__logo"></div>
    </a>
    <div class="nav__city__temp">
      <span class="nav__city"><%=searchProfile.local%></span>
      <span class="nav__temp_max"></span>
      <span class="nav__temp_min"></span>
    </div>
    <form class="pesquisar" action="/manimal/search" method="GET">
      <input type="search" name="key" id="key" />
      <button type="submit">
        <i class="fa fa-search menu__icon" aria-hidden="true"></i>
      </button>
    </form>
    <div class="menu__desktop">
      <ul class="menu__desktop__lista">
        <li>
          <a href="/manimal/event/criar"
            ><i class="fa fa-calendar-plus menu__icon" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="/manimal/event/list"
            ><i class="fa fa-calendar-o menu__icon" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <i class="fa fa-sun-o menu__icon" aria-hidden="true" id="theme"></i>
        </li>
        <li>
          <a href="/manimal/profile/logout" title="logout"
            ><i class="fa fa-sign-out menu__icon" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
      <a href="/manimal/perfilUser/<%=searchProfile.id%>"
        ><div class="foto__perfil">
          <img
            class="foto__perfil"
            src="<%=searchProfile.photo_profile_path%>"
            alt=""
          /></div
      ></a>
    </div>
    <div class="menu__mobile" id="menu__mobile">
      <ul class="menu__mobile__lista">
        <li ><a href="/manimal/event/criar"><i class="fa fa-calendar-plus menu__icon__mobile" aria-hidden="true"></i></a></li>
        <li ><a href="/manimal/event/list"><i class="fa fa-calendar-o menu__icon__mobile" aria-hidden="true"></i></a></li>
        <li><a href="/manimal/profile/logout" title="logout"><i class="fa fa-sign-out menu__icon__mobile" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="nav_icons" id="menu__mobile__icon">
      <i class="fa fa-bars nav__icons__menu" id="menu__mobile" aria-hidden="true"></i>
    </div>
  </nav>
</header>
