<div class="post__wrapper">
    <div class="post__foto"></div>
    <ul class="post__lista_icons">
        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
    </ul>
    <div class="post__legenda">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint consequuntur nesciunt eos.</p>
    </div>
</div>