     <header class="header">
        <nav class="nav">
          <div class="nav__logo"></div>
          <div class="menu__desktop">
            <ul class="menu__desktop__lista">
              <li><i class="fa fa-search menu__icon" aria-hidden="true"></i></li>
              <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
              <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
              <li><i class="fa fa-calendar-o menu__icon" aria-hidden="true"></i></li>
            </ul>
          </div>
          <div class="nav_icons">
            <a href=""
              ><i class="fa fa-paw nav__icons__notify" aria-hidden="true"></i
            ></a>
            <i class="fa fa-bars nav__icons__menu" aria-hidden="true"></i>
          </div>
        </nav>
        <div class="menu__mobile">
          <ul class="menu__mobile__lista">
            <li><i class="fa fa-plus menu__icon" aria-hidden="true"></i></li>
            <li><i class="fa fa-search menu__icon" aria-hidden="true"></i></li>
            <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
            <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
            <li><i class="fa fa-calendar-o menu__icon" aria-hidden="true"></i></li>
            <li><i class="fa fa-cogs menu__icon" aria-hidden="true"></i></li>
          </ul>
        </div>
      </header>