<div class="sugestoes__wrapper">
  <div class="sugestoes__foto"></div>
  <span class="sugestoes__nome">nome do animal</span>
  <i class="fa fa-heart menu__icon--sugestoes" aria-hidden="true"></i>
</div>