<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/ajudaLogin.css">
</head>
<body class="container">
    <main class="main">
      <div class="ajudaLogar">
        <h4>Ajuda para logar</h4>
      </div>
        <h1>Encontre sua conta</h1>
        <h3>Insira o e-mail vinculado à sua conta.</h3>
        <div class="forms">
          <div>
            <form action="" method="" class="form">
                <input type="text" name="email" placeholder="Insira seu email">
            </form>
          </div>
          <div class="submit">
            <form action="" method="POST" class="submit">
              <input type="submit" name="submit" value="Avançar"> 
            </form>
          </div>               
        </div>
        <div class="login">
          <p>Já tem uma conta? <a href="/manimal">Faça login.</a></p>
        </div>
    </main>
    <script src="/js/darkMode.js"></script>
</body>
</html>