<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/confirmaAjudaLogin.css">
</head>
<body class="container-lg">
    <main class="main">
      <div class="ajudaLogar">
        <h4>Ajuda para logar</h4>
      </div>
      <h1>Enviamos um e-mail para redefinição da sua senha de acesso!</h1>
      <div class="login">
        <p>Já tem uma conta? <a href="/manimal">Faça login.</a></p>
      </div>
    </main>
    <script src="/js/darkMode.js"></script>
</body>
</html>