<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/criarPerfil.css">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script defer src="/js/darkMode.js"></script>
<script defer src="/js/perfil.js"></script>
<script defer src="/js/preview.js"></script>
</head>
<body class="container-lg">
    <main class="main">
        <div class="header">
          <p>Bem vindo(a) <span><%=name%></span>! Hora de criar um perfil:</p>
          <div class="logout">
              <a href="/manimal/profile/logout" title="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="forms">
          <div>
            <form action="" class="form" method="POST" enctype="multipart/form-data">
            <div class="fields">
              <div class="preview__wrapper">
                <label for="photo" title="Inserir foto"><i class="fa fa-user-plus" aria-hidden="true"></i></label>
                <img class="preview" id="preview" src="" alt="">
              </div>
              <span class="error-message"></span>
              <input class="form-control" id="photo" type="file" name="photo" >
            </div>
            <div class="fields">
              <input type="text" name="pet_name" placeholder="Nome do Pet">
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <input type="text" name="nickname" placeholder="Apelido">
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <select class="kind" name="kind_id">
                <option value="" selected disabled hidden>Espécie</option>
                <% kinds.forEach(kind => { %>
                  <option id="kind" value="<%= kind.id %>">
                  <%= kind.kind %>
                  </option>
                <% }) %>
              </select>
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <select class="genre" name="genre">
                <option value="" selected disabled hidden>Gênero do pet</option>
                <option value="Macho">Macho</option>
                <option value="Fêmea">Fêmea</option>
              </select>
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <label class="birthday" for="birthday">Data de nascimento:</label>
              <input type="date" name="birthday" placeholder="Insira a data de aniversário do pet">
              <span class="error-message"></span>
            </div>
            <div class="fields">
              <input type="text" name="local" placeholder="Cidade. Ex: São Paulo">
              <span class="error-message"></span>
            </div>
            <span class="editProfile">Para completar o preenchimento das informações de perfil, vá para a seção Editar Perfil</span>
            <div class="submit">
              <input type="submit" name="submit" value="Prosseguir">
            </div>
            </form>
          </div>
        </div>
        <div class="profile">
            <p>Voltar a tela de <a href="/manimal/profile/select">Seleção de perfil.</a></p>
        </div>
    </main>
</body>
</html>