<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/criarEventos.css">
</head>
<body class="body">
    <div class="container_eventos">
        <%- include('./partials/headerEventos')%>
    </div>
  <div class="container__total">
      <section class="section__info">
        <div class="info__foto">
            <img src= "<%= profile.photo_profile_path %>" alt="" class="info__foto__perfil">
        </div>
        <div class="info__wrapper">
          <div class="box__nome__aniversario">
            <span class="info"><%= profile.pet_name %></span>
            
          </div>  
        </div>
        
      </section>
    <div class="info__loc">
        <i class="fa fa-map-marker info__localizacao" aria-hidden="true"><span class="info__localizacao__span">São Paulo - SP</span></i>
    </div>

    <section class="criar-evento">
      <form action="/manimal/event/criar" class="evento-form" enctype="multipart/form-data" method="POST">
        <div class="nome-evento">
          <label for="eventName" class="label__form" >Nome do Evento</label>
          <input type="text" class="form__text" name="name" id="eventName" >
        </div>
        <div class="data-e-hora">
          <div class="data-evento">
            <label for="eventDate" class="label_form">Data Inicial</label>
            <br>
            <input class="campo_data_hora" type="date" name="beginning_date">
            <br>
            <label for="eventDate" class="label_form">Data Final</label>
            <br>
            <input class="campo_data_hora" type="date" name="ends_date">
          </div>
          <div class="hora-evento">
            <label for="eventHour" class="label_form">Hora Inicial</label>
            <br>
            <input class="campo_data_hora" type="time" name="hour">
            <br>
            <label for="eventDate" class="label_form">Hora Final</label>
            <br>
            <input class="campo_data_hora" type="time" name="finish_hour">
          </div>
        </div>
        <div class="local-evento-convite">
          <label for="eventAdress" class="label__form" >Local do Evento</label>
          <input type="text" class="form__text" name="local" id="eventAdress" >
        </div>
        <div class="descricao-evento">
          <label for="eventDescrition" class="label__form" >Descricao do Evento</label>
          <textarea type="text" class="form__text" name="description" id="eventDescription" style="height: 200px;"></textarea>
        </div>

        <label for="eventPhoto" class="label_form">Adicionar Foto do Evento</label>
        <input type="file" name="photo">
        
        <button type="submit" class="form_btn" >Criar</button>
      </form> 
    </section>
    <script src="/js/darkMode.js"></script>
  </div>
</body>
