<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/criarEventos.css">
</head>
<body class="body">
    <div class="container_eventos">
        <%- include('./partials/somenteHeader')%>
    </div>
    <div class="container__total">
      <section class="section__info">
        <div class="info__foto">
            <img src="/images/1 (181).jpg" alt="" class="info__foto__perfil">
        </div>
        <div class="info__wrapper">
        <div class="box__nome__aniversario">
            <span class="info">Dollynho</span>
            <span class="info">29/05/2019</span>
        </div>  
        </div>
        
      </section>
    <div class="info__loc">
        <i class="fa fa-map-marker info__localizacao" aria-hidden="true"><span class="info__localizacao__span">São Paulo - SP</span></i>
    </div>

    <section class="criar-evento">
      <div class="nome-evento">
        <form action="" class="nome-evento-form" method="">
          <label for="eventName" class="label__form" >Nome do Evento</label>
          <input type="text" class="form__text" name="Name" id="eventName" >
        </form>
      </div>
      <div class="data-e-hora">
        <div class="data-evento">
          <form action="" class="data-evento-form">
            <label for="eventDate" class="laber_form">Data Inicial</label>
            <br>
            <input class="campo_data_hora" type="date" name="eventDate">
            <br>
            <label for="eventDate" class="laber_form">Data Final</label>
            <br>
            <input class="campo_data_hora" type="date" name="eventDate">
         </form>
        </div>
        <div class="hora-evento">
          <form action="" class="hora-evento-form">
            <label for="eventHour" class="label_form">Hora Inicial</label>
            <br>
            <input class="campo_data_hora" type="time" name="eventHour">
            <br>
            <label for="eventDate" class="label_form">Hora Final</label>
            <br>
            <input class="campo_data_hora" type="time" name="eventHour">
          </form>
        </div>
        <div >
          <button type="submit" class="botao-dia-todo">Dia Todo</button>
        </div>
      </div>
      <div class="local-evento-convite">
        <form action="" class="local-evento-form" method="">
          <label for="eventAdress" class="label__form" >Local do Evento</label>
          <input type="text" class="form__text" name="Name" id="eventAdress" >
        </form>
        <button type="submit" class="convidarform_btn">Convidar</button>
      </div>
      <div class="descricao-evento">
        <form action="" class="descricao-evento-form" method="">
          <label for="eventDescrition" class="label__form" >Descricao do Evento</label>
          <input type="text" class="form__text" name="Name" id="eventDescription" style="height: 200px;">
        </form>
        <form action="" method="" enctype="multipart/form-data">
          Adicionar Foto do Evento <input type="file" name="file">
          <br>
          <button type="submit" class="form_btn" >Enviar</button>
                    
        </form>
        <form action="" method="POST" >
          <button type="submit" class="form_btn" >Criar</button>
        </form>
        

        
      </div>
    </section>
    <script src="/js/darkMode.js"></script>
</div>
</body>
