<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/album.css">
    <title>Eventos Disponíveis</title>
</head>
<body>
    <div class="container">
        <%- include('./partials/somenteHeader')%>
        <main class="main">
            <div class="eventos">
                <a href="" class="evento-escolhido">Eventos Disponíveis</a>
                <a href="" class="eventos-outros">Eventos Aceitos</a>
                <a href="" class="eventos-outros">Eventos Criados</a>
            </div>
            <div class="mural">
                <div class="album-evento">
                    <img src="/public/images/vacinação.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Campanha de Vacinação Campinas</span>
                    <section class="descricao-eventos">
                    <h3>Titulo: Campanha de Vacinação Campinas</h3>
                    <p>Data: 20 de julho a 30 de julho</p>
                    <p>Local: Hospital Veterinário Unicamp</p>
                    <p>Descrição: campanha de vacinação em Campinas</p>
                        <button type="submit" class="principal__button">Participar</button>
                        <button type="submit" class="convidar__button">Convidar Amigos</button>
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/public/images/agility.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Agility no Parque Ibirapuera</span>
                    <section class="descricao-eventos">
                        <h3>Titulo: Agility no Parque Ibirapuera</h3>
                        <p>Data: 20 de julho </p>
                        <p>Local: Parque Ibirapuera</p>
                        <p>Descrição: venha praticar Agility com o Bono</p>
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar Amigos</button>
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/public/images/aniversario cachorro.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Aniversário do Bono</span>
                    <section class="descricao-eventos">
                        <h3>Titulo: Aniversário do Bono</h3>
                        <p>Data: 20 de julho a 30 de julho</p>
                        <p>Local: quintal do Bono</p>
                        <p>Descrição: venha comemorar meus 5 anos</p>
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar Amigos</button>
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/public/images/passeio.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Passeio na Praça da Bandeira</span>
                    <section class="descricao-eventos">
                        <h3>Titulo: Campanha de Vacinação Campinas</h3>
                        <p>Data: 20 de julho a 30 de julho</p>
                        <p>Local: Hospital Veterinário Unicamp</p>
                        <p>Descrição: campanha de vacinação em Campinas</p>
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar Amigos</button>
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/public/images/trilha2.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Trilha na Natureza em Embu das Artes</span>
                    <section class="descricao-eventos">
                        <h3>Titulo: Campanha de Vacinação Campinas</h3>
                        <p>Data: 20 de julho a 30 de julho</p>
                        <p>Local: Hospital Veterinário Unicamp</p>
                        <p>Descrição: campanha de vacinação em Campinas</p>
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar Amigos</button>
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/public/images/parque_2.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Niver do Toto</span>
                    <section class="descricao-eventos">
                        <h3>Titulo: Campanha de Vacinação Campinas</h3>
                        <p>Data: 20 de julho a 30 de julho</p>
                        <p>Local: Hospital Veterinário Unicamp</p>
                        <p>Descrição: campanha de vacinação em Campinas</p>
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar Amigos</button>
                    </section>
                </div>
                <div class="album-evento">
                    <img src="" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Caminhada na Praia</span>
                    <section class="descricao-eventos">
                        <h3>Titulo: Campanha de Vacinação Campinas</h3>
                        <p>Data: 20 de julho a 30 de julho</p>
                        <p>Local: Hospital Veterinário Unicamp</p>
                        <p>Descrição: campanha de vacinação em Campinas</p>
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar Amigos</button>
                    </section>
                </div>
                
            </div>
            

        </main>
    </div>
</body>
</html>