<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/album.css">
    <title>Eventos Disponíveis</title>
</head>
<body>
    <div class="container">
        <%- include('./partials/somenteHeader')%>
        <main class="main">
            <div class="eventos">
                <a href="" class="evento-escolhido">Eventos Disponíveis</a>
                <a href="/manimals/eventos/aceitos" class="eventos-outros">Eventos Aceitos</a>
                <a href="/manimals/eventos/criados" class="eventos-outros">Eventos Criados</a>
            </div>
            <div class="mural">
                <div class="album-evento">
                    <img src="/images/vacinação.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o evento_icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Campanha de Vacinação Campinas</span>
                    <section class="descricao-eventos">
                        <div class="info_eventos">
                            <p><span>Data:</span>20 de julho a 30 de julho  </p>
                            <p><span>Local:</span>Hospital Veterinário Unicamp </p>
                            <p><span>Descrição:</span>campanha de vacinação em Campinas</p>
                        </div>
                        <div class="button_disponiveis">
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar</button>
                        </div>
                        
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/images/agility.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o evento_icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Agility no Parque Ibirapuera</span>
                    <section class="descricao-eventos">
                        <div class="info_eventos">
                            <p><span>Data:</span>20 de julho  </p>
                            <p><span>Local:</span>Parque Ibirapuera </p>
                            <p><span>Descrição:</span>venha praticar Agility com o Bono no Parque</p>
                        </div>
                        <div class="button_disponiveis">
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar</button>
                        </div>
                            
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/images/aniversario-cachorro.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o evento_icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Aniversário do Bono</span>
                    <section class="descricao-eventos">
                        <div class="info_eventos">
                            <p><span>Data:</span>20 de julho  </p>
                            <p><span>Local:</span>quintal do Bono </p>
                            <p><span>Descrição:</span>venha comemorar meus 5 anos com muita corrida</p>
                        </div>
                        <div class="button_disponiveis">
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar</button>
                        </div>
                            
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/images/passeio.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o evento_icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Passeio na Praça da Bandeira</span>
                    <section class="descricao-eventos">
                        <div class="info_eventos">
                            <p><span>Data:</span> 20 de julho a 30 de julho </p>
                            <p><span>Local:</span>Hospital Veterinário Unicamp </p>
                            <p><span>Descrição:</span>campanha de vacinação em Campinas</p>
                        </div>
                        <div class="button_disponiveis">
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar</button>
                        </div>
                            
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/images/trilha2.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o evento_icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Trilha na Natureza Embu das Artes</span>
                    <section class="descricao-eventos">
                        <div class="info_eventos">
                            <p><span>Data:</span> 20 de julho a 30 de julho </p>
                            <p><span>Local:</span>Hospital Veterinário Unicamp </p>
                            <p><span>Descrição:</span>campanha de vacinação em Campinas</p>
                        </div>
                        <div class="button_disponiveis">
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar</button>
                        </div>
                            
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/images/parque_2.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o evento_icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Niver do Toto</span>
                    <section class="descricao-eventos">
                        <div class="info_eventos">
                            <p><span>Data:</span> 20 de julho a 30 de julho </p>
                            <p><span>Local:</span>Hospital Veterinário Unicamp </p>
                            <p><span>Descrição:</span>campanha de vacinação em Campinas</p>
                        </div>
                        <div class="button_disponiveis">
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar</button>
                        </div>
                            
                    </section>
                </div>
                <div class="album-evento">
                    <img src="/images/praia.png" alt="" class="album__capa">
                    <ul class="post__lista_icons">
                        <li><i class="fa fa-paw evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-comment evento_icon" aria-hidden="true"></i></li>
                        <li><i class="fa fa-paper-plane-o evento_icon" aria-hidden="true"></i></li>
                    </ul>
                    <span class="album__nome">Caminhada na Praia</span>
                    <section class="descricao-eventos">
                        <div class="info_eventos">
                            <p><span>Data:</span> 20 de julho a 30 de julho </p>
                            <p><span>Local:</span>Hospital Veterinário Unicamp </p>
                            <p><span>Descrição:</span>campanha de vacinação em Campinas</p>
                        </div>
                        <div class="button_disponiveis">
                            <button type="submit" class="principal__button">Participar</button>
                            <button type="submit" class="convidar__button">Convidar</button>
                        </div>
                            
                    </section>
                </div>
                
            </div>
            

        </main>
    </div>
    <script src="/js/darkMode.js"></script>
</body>
</html>