  <%- include('./partials/head')%>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body class="container">
    <main class="main">
      <div class="languageForm">
        <form action="" method="" class="">
          <select name="language">
              <option value="portugues" selected >português (Brasil)</option>
              <option value="portuguesPort">português (Portugal)</option>
              <option value="ingles">inglês</option>
              <option value="espanhol">espanhol</option>
          </select>
        </form>
      </div>
        <img src="/images/Logo1.png" alt="Logo Manimal">
        <div class="forms">
          <div>
            <form class="form" action="" method="POST">
              <div class="email">
                <input type="email" name="email" id="email" placeholder="Insira seu email">
              </div>
              <div class="password">
                <input type="password" name="password" id="password" placeholder="Senha" encripted>
                <i class="fa fa-eye-slash" onclick="eyeClick()" aria-hidden="true"></i>
              </div>
              <div class="submit">
                <button type="submit">Entrar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="help">
          <p>Esqueceu seus dados de login? <a href="/manimal/ajuda">Obtenha ajuda para entrar</a></p>
        </div>
        <div class="cadastro">
            <p>Não tem uma conta? <a href="/manimal/register">Cadastre-se.</a></p>
        </div>
    </main>
    <script src="/js/eyeClick.js"></script>
    <script src="/js/darkMode.js"></script>
</body>
</html>