<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/newAlbum.css" />
    <title>Novo Albúm</title>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/somenteHeader')%>
      <section class="principal">
        <div class="previa">
          <img src="/images/1 (248).jpg" alt="" class="previa__img" />
          <i class="fa fa-plus-square-o previa__icon" aria-hidden="true"></i>
          <div class="previa__escolhidas">
              <img src="/images/teste (1).jpeg" alt="" class="previa__escolhidas__amostras">
              <img src="/images/teste (2).jpeg" alt="" class="previa__escolhidas__amostras">
          </div>
        </div>
        <div class="modelos">
          <label class="modelos__labels" for="">Escolher tamanho</label>
          <div class="modelos__wrapper">
            <div class="options">
                <div class="options__icon__span">
              <i class="fa fa-file-image-o options__icon" aria-hidden="true"></i>
              <label for="original" class="options__label">Original</label>
                </div>
              <input
                type="radio"
                name="tamanho"
                value="Original"
                id="original"
                class="options__radio"
              />
            </div>
            <div class="options">
                <div class="options__icon__span">
                    <i class="fa fa-square-o options__icon" aria-hidden="true"></i>
                    <label for="quadrado" class="options__label">Quadrado</label>
                </div>
              <input
                type="radio"
                name="tamanho"
                value="Quadrado"
                id="quadrado"
                class="options__radio"
              />
            </div>
   
                <div class="options">
                    <div class="options__icon__span">
                        <i class="fa fa-mobile options__icon" aria-hidden="true"></i>
                        <label for="retrato" class="options__label">Retrato</label>
                    </div>
              <input
                type="radio"
                name="tamanho"
                value="Retrato"
                id="retrato"
                class="options__radio"
              />
            </div>
            <div class="options">
                <div class="options__icon__span">
              <i class="fa fa-picture-o options__icon" aria-hidden="true"></i>
              <label for="horizontal" class="options__label">Horizontal</label>
            </div>
              <input
                type="radio"
                name="tamanho"
                value="Horizontal"
                id="horizontal"
                class="options__radio"
              />
            </div>
          </div>
          <button type="submit" class="principal__button">Seguinte</button>
            </div>
    
      </section>
    </div>
    <script src="/js/darkMode.js"></script>
  </body>
</html>
