<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/perfilUser.css" />
    <title>Perfil User</title>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/somenteHeader')%>
      <main>
      <div class="cabecalho">
          <div class="menu_cabecalho_02">
                <img src="/images/perfi 1.jpg" alt="" class="img_cabecalho">
                <h1>Doguinho</h1>  
                <button class="btn"> Editar Perfil </button>
         </div>
          <div class="cabecalho_1">
            <div class="menu_cabecalho_01">
              <h2> 2 Publicações</h2>
              <h2> 120  Seguidores</h2>
              <h2> 120  Seguindo</h2>
            </div>
            <div class="menu_cabecalho_03">
              <h2><img src="/images/casa.png" class="inco_casa">  Mora em Salvador, Brazil</h2>
              <h2><img src="/images/localização.png" class="inco_localizacao">  Salvador</h2>
              <h2><img src="/images/caixa_dia1.png" class="inco_dial">  Mais Informações Pet</h2>
            </div>
         </div>  
        </div>
       <section class="text_amigo">
            <h5 class="texto_amigos">Amigos</h5>
            <ul class="ver_amigos">
                <li>
                    <img src="/images/perfi 1.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/gato1.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/praia.png" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil3.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil4.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil5.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil6.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil7.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil8.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil9.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <img src="/images/perfil10.jpg" alt="" class="img_amigo">
                </li>
                
                <li>
                    <img src="/images/mais.png" alt="" class="img_mais">
                </li>
                
            </ul>

        </section>
    
        <section class="text_publicacao">
            <h5 class="texto_publicacao">Publicação</h5>
            <ul class="add_publicacao">
                    <img src="/images/perfi 1.jpg" alt="" class="img_amigo">
                    <textarea name="" id="" cols="30" rows="10" placeholder="No que você está pensando?"></textarea>
                    <ul class="icons_wrapper">
                        <li>
                            <img src="/images/photocamerafilledsymbolofthetoolincircularbutton_80318.png" alt="" class="img_fotografia">
                        </li>
                        <li>
                            <img src="/images/localização.png" alt="" class="img_localizacao">
                        </li>
                        <li>
                            <img src="/images/enviar.png" alt="" class="img_enviar">
                        </li>
                    </ul>
            </ul>

        </section>
        <section class="timeline">
            <ul class="ver_timeline">
                <li>
                    <img src="/images/perfil6.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <h4 class="perfil_nome">Lulu</h4>
                    <span class="perfil_localizacao">São Paulo</span>

                </li>
            </ul>

            <div class="timeline_publicacao">
                <img src="/images/perfil.jpg">
                <ul class="post__lista_icons">
                    <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                    <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                    <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
              </ul>
            </div>
            <div class="post__wrapper">
                <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod impedit quia vitae. Repellendus eligendi rem natus consequatur, dolorum corporis quidem exercitationem culpa. Autem, eveniet dolore error nisi dolorem molestiae enim?</a>
            </div>
            <ul class="ver_timeline">
                <li>
                    <img src="/images/perfil6.jpg" alt="" class="img_amigo">
                </li>
                <li>
                    <h4 class="perfil_nome">Lulu</h4>
                    <span class="perfil_localizacao">São Paulo</span>

                </li>
            </ul>

            <div class="timeline_publicacao">
                <img src="/images/perfil.jpg">
                <ul class="post__lista_icons">
                    <li><i class="fa fa-paw menu__icon" aria-hidden="true"></i></li>
                    <li><i class="fa fa-comment menu__icon" aria-hidden="true"></i></li>
                    <li><i class="fa fa-paper-plane-o menu__icon" aria-hidden="true"></i></li>
              </ul>
            </div>
            <div class="post__wrapper">
                <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod impedit quia vitae. Repellendus eligendi rem natus consequatur, dolorum corporis quidem exercitationem culpa. Autem, eveniet dolore error nisi dolorem molestiae enim?</a>
            </div>
        </section>  
      </main>
    </div>
  </body>
</html>
