<%- include('./partials/head')%>
<link rel="stylesheet" href="/stylesheets/selecionarPerfil.css">
</head>
<body class="container">
    <main class="main">
        <div class="profile">
            <div>
                <a href=""><i class="fa fa-user-plus" onclick="" aria-hidden="true"></i></a>
            </div>
            <div>
                <a href=""><i class="fa fa-user-plus" onclick="" aria-hidden="true"></i></a>
            </div>
            <div>
                <a href=""><i class="fa fa-user-plus" onclick="" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- <img src="/images/Logo1.png" alt="Logo Manimal"> -->
        <div class="redirect">
            <a href="/manimal/profile/create"><button type="button">Criar novo</button></a>
        </div>               
        <div class="logout">
            <p><a href="/manimal">Fazer logout</a></p>
        </div>
    </main>
    <script src="/js/darkMode.js"></script>
</body>
</html>