.container-lg {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  padding: 0;
  margin: 0 15px;
}

.main .ajudaLogar {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 35vh;
  font-size: 15px;
  color: var(--text);
}

.main h1 {
  max-width: 600px;
  width: 100%;
  font-size: 24px;
  margin-bottom: 5vh;
  color: var(--text);
}

.main .login {
  margin-top: 49vh;
  margin-bottom: 10px;
}

.main .login p {
  font-size: 13px;
  color: var(--text);
}

.main .login a {
  font-style: italic;
  color: var(--link);
  text-decoration: none;
}

/*responsividade*/
