.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    box-shadow: var(--box-header);
  }
  .pesquisar{
    display: flex;
    align-items: center;
    background-color: var(--bgSite);
  }
  nav .fa-search{
    font-size: 30px;
  }
  input[type=search]{
    border-radius: 5px;
  }
  .container {
    background-color:var(--bgSite);
    height: 100%;
  }
  .nav__logo {
    width: 200px;
    height: 50px;
    background-size: cover;
    background-image: url(../images/Nome\ 2.png);
  }
  .nav_icons {
    font-size: 25px;
    color: var(--icons);
  }
  .nav__icons__notify {
    color: var(--icons);
  }
  .menu__mobile {
    display: none;
    
  }
  .menu__icon{
    font-size: 25px;
    color: var(--icons);
    padding: 0 10px;
    cursor: pointer;
  }

  .evento_icon{
    font-size: 25px;
    color: var(--icons);
    padding: 0 10px;
    cursor: pointer;
  }

  .menu__desktop{
    display: none;
  }



/*Responsivo*/
  @media (min-width: 321px){
    .body{
      width: 100%;
      margin: auto;
    }
    .container {
      width: 100%;
      height: 100%;
      background-color: var(--bgSite);
    }
    .post__foto{  background-position: top;}
  
  }
  
  @media (min-width: 1081px) {
    .body{
      width: 100%;
      margin: auto;
      position: relative;
    }
    .container {
      width: 100%;
      height: 100%;
    }
    .foto__perfil {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-size: cover;
      background-image: url(../images/fotos-de-cachorro-filhote-1\ 4.svg);
    }
    .nav {
  width: 100%;
    }
  .nav_icons{
      display: none;
    }
  .menu__desktop{
    display: flex;
    align-items: center;
  }
  .menu__desktop__lista{
    display: flex;
    padding: 0 20px;
  }
  .menu__icon{
    font-size: 40px;
  }

  .evento_icon{
    font-size: 25px; 
  }

  .menu__icon{
    font-size: 40px; 
  }
}