.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main {
  padding: 0;
  padding-bottom: 25px;
  margin: 0 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
}

.main .profile {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main .profile .profilePicture .btn{
  margin: 15px 0;
  display: flex;
  justify-content: space-evenly;

}

.main .profile .profilePicture .btn button{
  height: 20px;
  width: 60px;
  background-color: var(--buttonColor);
  box-shadow: var(--box-form);
  border-radius: 11px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  color: var(--white);
}

.main .profile .profilePicture img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  object-fit: cover;  
}

.main .profile .profilePicture h2 {
  font-size: 15px;
  color:var(--destaque);
  font-weight: bold;
  margin-top: 10px;
}

.main .redirect button {
  height: 40px;
  width: 150px;
  background-color: var(--buttonColor);
  box-shadow: var(--box-form);
  border-radius: 11px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  margin-top: 20px;
}

.main .header {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

.main .header p {
  font-size: 12px;
  font-style: italic;
}

.main .header span {
  color: var(--buttonColor);
  font-weight: bold;
}

.main .logout {
  height: 50px;
  margin-top: 5px;
}

.main .logout a {
  margin-top: 5px;
  height: 50px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: var(--buttonColor);
}

.main .logout .fa-sign-out {
  font-size: 35px;
}

/*responsividade*/

@media (min-width: 1080px) {
  .main .profile .profilePicture img {
    height: 150px;
    width: 150px; 
  }

  .main .profile .profilePicture h2 {
    font-size: 20px;
    margin-top: 20px;
  }

  .main .redirect {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .main .logout {
    font-size: 14px;
  }

  .main .header p {
    font-size: 14px;
  }

  .main .logout .fa-sign-out {
    font-size: 50px;
  }

  .main .profile .profilePicture .btn button{
    height: 25px;
    width: 65px;
    font-size: 12px;
  }
}
